* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 10px;
}
.settings {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.colorPalette {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 100px;
    margin: 0 auto;
}

/* ##### eraser ###### */

.eraser__container {
    background-color: white;
    width: 150px;
    justify-content: center;
    height: 50px;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.color1 {
    background-color: #cc0001;
}
.color2 {
    background-color: #fb940b;
}
.color3 {
    background-color: #ffff01;
}
.color4 {
    background-color: #01cc00;
}
.color5 {
    background-color: #03c0c6;
}
.color6 {
    background-color: #0000fe;
}
.color7 {
    background-color: #762ca7;
}
.color8 {
    background-color: #fe98bf;
}

.color__box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    padding: 0;
    margin:0;
}

.drawingBox {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: aliceblue;
    margin: 0 auto;
}

.block {
    background-color: white;
    border: 1px solid black;
}

.defaultColor {
    background-color: white;
}

/* slider input */


.colorPickerContainer {
    display: flex;
    align-items: center;
    gap: 32px
}

#inputColorPicker {
    width: 50px;
    appearance: none;
    height: 50px;
    border-style: none;
    cursor: pointer;
    border-radius: 12px;
}



#inputColorPicker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
    box-shadow: inset;
}