* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.drawingBox {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 150px;
}

.block {
    background-color: white;
    border: 1px solid black;
    height: calc(400px/16);
    /* width: 100px; */
    width: calc(400px/16);
}

.defaultColor {
    background-color: white;
}

/* slider input */

.settings {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 100px;
}